<h1>新規研究室アドレス範囲作成</h1>
<!--<h1>新規IPアドレス割当作成</h1>-->

<% form_for(@network) do |f| %>
  <%= f.error_messages %>

  <%= render :partial => f %>
  <p>
    <%= f.submit '作成' %>
  </p>
<% end %>

<%= link_to '戻る', networks_path %>
