<p>
  <b>管理者:</b>
  <%=h (@group.user.nil?)? '' : @group.user.display_name %>
</p>

<p>
  <b>グループ名:</b>
  <%=h @group.display_name %>
</p>

<%= link_to '編集', edit_group_path(@group) %>
<% if controller.admin_user? %>
| <%= link_to '戻る', groups_path %>
<% end %>
