# specify cron job start time as the following format
# Time.now.strftime("%Y-%m-%d-%H-%M-%w")
# 
# Example:
# - [year-month-day-hour-minute-weekday, class_name, method_name, options]
# execute SyncWorker.test method at 2010/01/01 12:00
# - [2010-01-01-12-00-*, sync, test, {param1: 1, param2: hoge}]
# execute SyncWorker.test method at every Sunday at 07:00
# - [*-*-*-07-00-0, sync, test, {param1: 1, param2: hoge}]
