<h1>IPアドレス管理システム</h1>
<h2>システムの概要</h2>
<p>このシステムでは，ネットワークへの常時接続を許可する端末のIPアドレスを管理します．システムに登録されたIPアドレスをDNSサーバおよびネットワーク機器に反映し，通信可能にします．削除されたIPアドレスはDNSサーバおよびネットワーク機器の設定からも削除し，通信不能に戻します．</p>
<p>ネットワーク機器の設定変更は，新規追加，削除されたエントリに対して定期的に実行しますので，反映までに時間がかかる可能性があります．また，エントリの追加・削除日時を見て処理を実行しますので，しばらくたっても反映されない場合は，エントリの「更新」を試してみてください．</p>
<p>システムを利用するには「ログイン」する必要があります．アカウントについては管理者にお問い合わせください．</p>
<!--
<h1>macアドレスフィルタ管理システム</h1>
<h2>システムの概要</h2>
<p>このシステムでは，ネットワークへの常時接続を許可する端末のmacアドレスを管理します．システムに登録されたmacアドレスをネットワーク機器に反映し，通信可能にします．削除されたmacアドレスはネットワーク機器の設定からも削除し，通信不能に戻します．</p>
<p>ネットワーク機器の設定変更は，新規追加，削除されたエントリに対して定期的に実行しますので，反映までに時間がかかる可能性があります．また，エントリの追加・削除日時を見て処理を実行しますので，しばらくたっても反映されない場合は，エントリの「更新」を試してみてください．</p>
<p>システムを利用するには「ログイン」する必要があります．アカウントについては管理者にお問い合わせください．</p>
-->
